form {
    display:flex;
    flex-direction: column;
    width: 500px;
    height: max-content;
    margin: 15px;
    margin-top:30px
}

button {
    width: max-content;
}
.errortext {
    margin: 50px;
    color: red;
    width: max-content;
}
.header {
    margin-top: 50px;
}
.inputStyling{
    margin-top: 30px;
}
.button {
    margin-top: 30px;

}
@media screen and (width < 768px){
    form{
        max-width: max-content;
    }
}